.fifth {
  display: flex;
  padding: 60px 40px;
  color: rgb(0, 0, 0);
  background-color: #581c87;
}

.fifth-content {
  background-color: #581c87;
  margin-left: 3%;
  max-width: 100%;
}

.fifth-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  font-weight: 500;
  background-color: transparent;
  color: #ffffff;
}

.fifth-content p {
  margin-bottom: 30px;
  background-color: transparent;
  color: #ffffff;
  width: 55%;
}

.fifth-text {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  padding: 20px;
}

.block h3 {
  font-weight: 500;
}

.request-button {
  border: 2px solid #fcd34d;
  border-radius: 50px;
  background-color: transparent;
  color: #fcd34d;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 17%;
  height: 17%;
  margin-left: -20%;     
}

.request-button span {
  margin-left: 8px;
}

.request-button:hover {
  background-color: #fcd34d;
  color: white;
}

.testimonial {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.profile-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 10px;
}

.fifth-image {
  width: 100%;
}

.fifth-image img {
  width: 100%;
  border-radius: 10px;
}

.contact {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

.contact span {
  font-weight: bold;
}

.cta-button.small {
  font-size: 14px;
  padding: 5px 15px;
}

.carousel-wrapper {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  width: 100%;
  background-color: transparent;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  min-width: 300px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-direction: column;
}

.testimonial-card p {
  color: black;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.arrow {
  margin-top: 4%;
  color: #fcd34d;
  border-color: #fcd34d;
  background-color: transparent;
  border: 2px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.arrow:hover {
  background-color: #fcd34d;
  color: white;
}
