.second {
  display: flex;
  justify-content: center;
  padding: 60px 40px;
  color: rgb(0, 0, 0);
  position: relative;
  background-image: url("/assets/circlesecond.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.second-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  font-weight: 500;
}

.second-content p {
  margin-bottom: 15px;
}

.desktop-img {
  width: 1300px;
  height: 780px;
  margin-right: 10px;
  background-color: transparent;
}


@media (max-width: 768px) {
  .second {
    display: flex;
    padding: 0 40px;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-top: 15%;
  }
  .second-content {
    max-width: 100%;
    background-color: transparent;
  }
  .second-content p {
    background-color: transparent;
  }
  .desktop-img {
    content: url("/assets/desktop2.png");
    width: 305px;
    height: 210px;
    margin-right: 10px;
    background-color: transparent;
  }
}
