.second {
    display: flex;
    justify-content: center;
    padding: 60px 40px;
    color: rgb(0, 0, 0);
    position: relative; /* Para permitir o posicionamento absoluto */
    background-image: url("src/assets/circlesecond.png"); /* Caminho para sua imagem */
    background-size: contain;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
  }
  
  .second-content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .second-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  .second-content p {
    margin-bottom: 15px;
  }
  
  .cta-button {
    background-color: transparent;
    border: 2px solid #581c87;
    color: #581c87;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #581c87;
    color: #fff;
  }
  
  .testimonial {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  
  .desktop-img {
    width: 1400px;
    height: 813px;
    margin-right: 10px;
  }
  
  .second-image {
    position: relative;
    max-width: 40%;
  }
  
  .second-image img {
    width: 100%;
    border-radius: 10px;
  }
  
  .contact {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
  }
  
  .contact span {
    font-weight: bold;
  }
  
  .cta-button.small {
    font-size: 14px;
    padding: 5px 15px;
  }
  